// Import the full Zurg library
@import 'zurg/zurg';

// Or import individual sets
// @import 'zurg/zurg-ui';
// @import 'zurg/zurg-kit';


// Start custom css here

* {
    @include box-sizing(border-box);
    text-align: left;
}

html,
body {
    height: 100%;
}

body {
    font-family: $zurg-font-sansserif;
    background-color: $zurg-color-primary;
}

h1 {

    color: lighten( $color-primary, 15 );
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0;

    @include mobile() {
        font-size: 2.6em;
    }

}

h2 {

    color: $zurg-color-grey3;
    font-size: 1.54em;
    font-weight: 200;

    @include mobile() {
        font-size: 1em;
    }

}

.hero {

    overflow: hidden;
    height: 42em;
    background-color: white;
    padding-top: 6em;

    @include mobile() {
        height: 23.5em;
        padding-top: 1em;
    }

}

.preview {

    position: relative;
    width: 341px;
    height: 693px;
    @include transform( translate3d(0,5em,0) );
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    margin: 0 auto 0;

    & > img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }

    @include mobile() {

        width: 260px;
        height: 540px;
        @include transform( translate3d(0,1em,0) );

    }

}

.preview-icons {

    position: absolute;
    top: 104px;
    left: 21px;
    width: 385px;
    height: 677px;
    padding: 5px;

}

.body {

    color: $zurg-color-grey4;
    background-color: $zurg-color-grey1;
    padding: 5em 2em;

}

.icon-list {

    h3 {
        font-size: 2em;
    }

    h4 {
        position: relative;
        top: -1em;
        color: $color-grey3;
        font-size: 1.4em;
        font-weight: 400;
    }

    li {

        color: $zurg-color-secondary;
        line-height: 1.6em;

        span {
            color: $color-grey4;
        }

    }

}

.footer {

    color: lighten( $zurg-color-primary, 50 );
    background-color: $zurg-color-primary;
    text-align: center;
    padding: 2em;

    a {
        color: $zurg-color-secondary;
        font-weight: 500;
    }

    h3 {
        font-weight: 300;
        text-align: center;
        margin-bottom: .25em;
        margin-top: .5em;
    }

    .created {

        a {

            @include mobile() {

                display: block;
                text-align: center;

            }

        }

    }

}

.footer-icons {

    font-size: 2em;
    list-style: none;
    text-align: center;
    padding: 0;

    li {
        @include inline-block();
        margin: 0 .2em;
    }

    a {

        display: block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        outline: 0;
        border-radius: 100%;

        @include desktop() {

            &:hover {

                background-color: darken( $zurg-color-primary, 10 )

            }

        }

    }

    @include mobile() {
        margin-top: 1em;
    }

}

.button-cydia {

    color: lighten($color-cydia, 70);
    background-color: $color-cydia;
    border: 1px solid darken($color-cydia, 5);

    @include desktop() {
        &:hover:not(:disabled) {
            background-color: lighten($color-cydia, 3);
        }
        &:active:not(:disabled) {
            background-color: darken($color-cydia, 3);
        }
    }

}

.button-github {

    color: lighten($color-grey5, 70);
    background-color: $color-grey5;
    border: 1px solid darken($color-grey5, 5);

    @include desktop() {
        &:hover:not(:disabled) {
            background-color: lighten($color-grey5, 3);
        }
        &:active:not(:disabled) {
            background-color: darken($color-grey5, 3);
        }
    }

}

.social {
    margin-top: 2em;
}

.fb-like {
    @include inline-block;
    top: -2px;
    width: 48px!important;
    vertical-align: top;
    margin-right: 1em;
}

.tw-tweet {
    @include inline-block;
}