<div class="body">

    <div class="row flexslider-wrapper">
        <img class="filler" src="../assets/img/slider/filler.png" alt="" />
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img data-hippi="true" src="../assets/img/slider/slide1.jpg" alt="" />
                </li>
                <li>
                    <img data-hippi="true" src="../assets/img/slider/slide2.jpg" alt="" />
                </li>
                <li>
                    <img data-hippi="true" src="../assets/img/slider/slide3.jpg" alt="" />
                </li>
            </ul>
        </div>

    </div>

    <hr>

    <div class="row">
        <div class="sixcol">
            <h1>Level One Heading</h1>
            <h3>Level Two Heading</h3>
            <p>This is a sample page filled with tons of filler
                content simply to make an example for new projects.
                Consider this a starting point or if you're lazy, you can
                plug-and-play a little bit, but c'mon.</p>
            <p>Vivamus pulvinar tellus nec libero feugiat venenatis. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Quisque augue metus, rhoncus in placerat a, dapibus sed augue.
                Pellentesque dapibus dui eu dui bibendum tempus.</p>
            <a class="button-primary" href="#">This is a primary button</a>
            <a class="button-secondary" href="#">This is a secondary button</a>
            <a class="button" href="#">This is a generic button</a>
        </div>
        <figure class="sixcol last">
            <img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
            <figcaption>
                This is the optional caption.
            </figcaption>
        </figure>
        <!-- <a href="#"><img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag"></a>
        <p class="wp-caption-text">This is the optional caption.</p> -->
    </div>

    <hr>

    <div class="row">
        <div class="sixcol">
            <h2>Copy Styles</h2>
            <p><code>&#60;dl&#62;</code> Sample definition list:</p>
            <dl>
                <dt>
                    <p><code>&#60;code&#62;</code></p>
                </dt>
                <dd>
                    <p>Lorem ipsum <code>inline code</code> sit amet. Use inside <code>&#60;p&#62;</code></p>
                    <code>&#60;img src="" /&#62; &lt;!-- Use outside &#60;p&#62;--&gt;</code>
                </dd>
                <dt>
                    <p><code>&#60;del&#62;</code></p>
                </dt>
                <dd>
                    <p><del>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</del></p>
                </dd>
                <dt>
                    <p><code>&#60;mark&#62;</code></p>
                </dt>
                <dd>
                    <p><mark>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</mark></p>
                </dd>
                <dt>
                    <p><code>&#60;strong&#62;</code></p>
                </dt>
                <dd>
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</strong></p>
                </dd>
                <dt>
                    <p><code>&#60;em&#62;</code></p>
                </dt>
                <dd>
                    <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</em></p>
                </dd>
                <dt>
                    <p><code>&#60;i&#62;</code></p>
                </dt>
                <dd>
                    <p><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</i></p>
                </dd>
                <dt>
                    <p><code>&#60;cite&#62;</code></p>
                </dt>
                <dd>
                    <p><cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</cite></p>
                </dd>
                <dt>
                    <p><code>&#60;big&#62;</code></p>
                </dt>
                <dd>
                    <p><big>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</big></p>
                </dd>
                <dt>
                    <p><code>&#60;small&#62;</code></p>
                </dt>
                <dd>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</small></p>
                </dd>
                <dt>
                    <p><code>&#60;abbr&#62;</code></p>
                </dt>
                <dd>
                    <p><abbr title="abbreviation">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</abbr></p>
                </dd>
                <dt>
                    <p><code>&#60;var&#62;</code></p>
                </dt>
                <dd>
                    <p><var>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</var></p>
                </dd>
                <dt>
                    <p><code>&#60;q&#62;</code></p>
                </dt>
                <dd>
                    <p><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</q></p>
                </dd>
                <dt>
                    <p><code>&#60;ins&#62;</code></p>
                </dt>
                <dd>
                    <p><ins datetime="2011-12-08T20:19:53+00:00">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</ins></p>
                </dd>
                <dt>
                    <p><code>&#60;s&#62;</code>
                </dt>
                <dd>
                    <p><s>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi non nisl et felis consectetur feugiat nec vel tortor.</s></p>
                </dd>
                <dt>
                    <p><code>&#60;sup&#62; and &#60;sub&#62;</code></p>
                </dt>
                <dd>
                    <p>2<sup>nd</sup>C0<sub>2</sub></p>
                </dd>
                <dt>
                    <p><code>&#60;address&#62;</code></p>
                </dt>
                <dd>
                    <address>
                       123 Example Street,
                       City,
                       State,
                       12345
                   </address>
                </dd>
            </dl>
        </div>
        <div class="sixcol last">
            <h2>Image galleries</h2>
            <p>hasellus vitae diam sem, in sollicitudin est. Ut posuere lectus
                sit amet sem suscipit ut vulputate nisl dignissim.</p>

            <h4>Five column gallery</h4>
            <ul class="thumb-gallery thumb-five">
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
                <li>
                    <span>
                        <img data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </span>
                </li>
            </ul>

            <h4>Four column gallery with modal</h4>
            <ul class="thumb-gallery thumb-four">
                <li>
                    <a class="fancybox" rel="gallery" href="../assets/img/gallery/1_b.jpg" title="Image 1">
                        <img src="../assets/img/gallery/1_s.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a class="fancybox" rel="gallery" href="../assets/img/gallery/2_b.jpg" title="Image 2">
                        <img src="../assets/img/gallery/2_s.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a class="fancybox" rel="gallery" href="../assets/img/gallery/3_b.jpg" title="Image 3">
                        <img src="../assets/img/gallery/3_s.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a class="fancybox" rel="gallery" href="../assets/img/gallery/4_b.jpg" title="Image 4">
                        <img src="../assets/img/gallery/4_s.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a class="fancybox" rel="gallery" href="../assets/img/gallery/5_b.jpg" title="Image 5">
                        <img src="../assets/img/gallery/5_s.jpg" alt="Your Alt Tag">
                    </a>
                </li>
            </ul>

            <h4>Three column gallery with external links and frame</h4>
            <ul class="thumb-gallery thumb-three">
                <li>
                    <a href="#" title="Your Title">
                        <img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a href="#" title="Your Title">
                        <img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a href="#" title="Your Title">
                        <img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a href="#" title="Your Title">
                        <img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a href="#" title="Your Title">
                        <img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </a>
                </li>
                <li>
                    <a href="#" title="Your Title">
                        <img class="frame" data-hippi="true" src="../assets/img/placeholder-standard-dark.jpg" alt="Your Alt Tag">
                    </a>
                </li>
            </ul>

            <h3>Social media widgets</h3>
            <div class="row social-widget">
	            <div class="sixcol">
	                <a class="twitter-timeline" href="https://twitter.com/colbyfayock" data-widget-id="337054429255716864">Tweets by @colbyfayock</a>
	            </div>
	            <div class="sixcol last">
	                <div class="fb-like-box" data-href="https://www.facebook.com/showclix" data-width="400" data-show-faces="false" data-stream="true" data-border-color="#eee" data-header="false"></div>
	            </div>
	        </div>

        </div>
    </div>

    <hr>

    <div class="row">
        <div class="twelvecol center-head">
            <h2>Level Two Heading</h2>
            <h3>Level Three Heading</h3>
        </div>
        <div class="fourcol video-wrapper">
            <h4>YouTube</h4>
            <iframe class="frame" src="http://www.youtube.com/embed/Y6rE0EakhG8" width="400" height="250" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="fourcol video-wrapper">
            <h4>Vimeo</h4>
            <iframe class="frame" src="http://player.vimeo.com/video/63653873" width="400" height="250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="fourcol last">
            <h4>Level Two Heading</h4>
            <h5>Level Three Heading</h5>
            <p>See how easy it is to add videos? Just need add the
               <code>video-wrapper</code> class like
               <code>&#60;div class="fourcol video-wrapper"&#62;</code>
               and throw in the <code>iFrame</code> to get there.
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="sixcol">
            <h2>More examples</h2>
            <blockquote cite="http://html5doctor.com/blockquote-q-cite/">
                Here's an example of a blockquote. Add additional content semantically with the footer element.
                <footer>
                    <cite>
                        <a href="http://html5doctor.com/blockquote-q-cite/">Oli Studholme, HTML5doctor.com</a>
                    </cite>
                </footer>
            </blockquote>

            <div class="row">
                <div class="sixcol">
                    <h4>Level Four Heading</h4>
                    <ol>
                        <li>Ordered list item one.</li>
                        <li>Ordered list item two.</li>
                        <li>Ordered list item three.</li>
                        <li>Ordered list item four.</li>
                        <li>Ordered list item five.</li>
                    </ol>
                </div>
                <div class="sixcol last">
                    <h4>Level Four Heading</h4>
                    <ul>
                        <li>Unordered list item one.</li>
                        <li>Unordered list item two.</li>
                        <li>Unordered list item three.</li>
                        <li>Unordered list item four.</li>
                        <li>Ordered list item five.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sixcol last">
            <h2>Check out this sweet form</h2>
            <form name="contactForm" action="">
                <div class="form-error">
                    <i class="icon" data-icon="&#xe001;" aria-hidden="true"></i>
                </div>
                <div class="row">
                    <fieldset class="sixcol">
                        <label>Sample Input</label>
                        <input type="text" name="asdf1" id="asdf1" placeholder="Sample Input" required>
                    </fieldset>
                    <fieldset class="sixcol last">
                        <label>Sample Select</label>
                        <select name="asdf2" id="asdf2" required>
                            <option value="">Please select an option</option>
                            <option value="">-</option>
                            <option value="Option 2">Option 2</option>
                            <option value="Option 3">Option 3</option>
                        </select>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="twelvecol">
                        <label>Sample Input</label>
                        <input type="text" name="asdf3" id="asdf3" placeholder="Sample Input"  required>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="twelvecol">
                        <label>Sample Select</label>
                        <select name="asdf4" id="asdf4"  required>
                            <option value="">Please select an option</option>
                            <option value="">-</option>
                            <option value="Option 2">Option 2</option>
                            <option value="Option 3">Option 3</option>
                        </select>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="twelvecol">
                        <label>Comments</label>
                        <textarea name="asdf5" id="asdf5" placeholder="Comments..."></textarea>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="sixcol">
                        <label>Sample Checkbox</label>
                        <span class="check-radio">
                            <input type="checkbox" name="checkbox" id="checkbox1" value="checkbox1" required>
                            <label>Checkbox1</label>
                        </span>
                        <span class="check-radio">
                            <input type="checkbox" name="checkbox" id="checkbox2" value="checkbox2" required>
                            <label>Checkbox2</label>
                        </span>
                    </fieldset>
                    <fieldset class="sixcol last">
                        <label>Sample Radio</label>
                        <span class="check-radio">
                            <input type="radio" name="radio" id="radio1" value="radio1" required>
                            <label>Radio1</label>
                        </span>
                        <span class="check-radio">
                            <input type="radio" name="radio" id="radio2" value="radio2" required>
                            <label>Radio2</label>
                        </span>
                    </fieldset>
                </div>
                <div class="row">
                    <div class="twelvecol">
                        <input class="button-primary" name="submit" type="submit" value="Submit" />
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>