/****************************************
 * Size Settings (Page width, etc)
 ****************************************/

// Dimensions

$mobile-page-width: 640px;
$tablet-page-width: 1024px;

$large-page-width: 1000px;
$small-page-width: 800px;

$grid-page-width: 1200px;
$grid-page-width-mobile: 640px;